
body {
  background: blanchedalmond;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
}

.a, .b, .c {
  background-color: #d8d8d8;
  border: 1px solid #5e5d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.a, .c{
  flex: 1;
}

.b {
  flex: 5;
}


@media (min-width: 1240px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .a {
    flex-basis: 100%;

  }
  
  .b {
    flex: 5;
  }

  .c {
    flex: 1;
  }
}